apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "7"
  labels:
    app: cloudflared
  name: cloudflared
  namespace: cloudflared
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: cloudflared
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: cloudflared
        istio.io/dataplane-mode: ambient
    spec:
      containers:
      - command:
        - cloudflared
        - tunnel
        - --config
        - /etc/cloudflared/config.yaml
        - --loglevel
        - debug
        - --metrics
        - 0.0.0.0:2000
        - run
        image: cloudflare/cloudflared:latest
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /ready
            port: 2000
            scheme: HTTP
          initialDelaySeconds: 1
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: cloudflared
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/cloudflared
          name: config
          readOnly: true
        - mountPath: /etc/cloudflared/creds
          name: creds
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - name: creds
        secret:
          defaultMode: 420
          secretName: tunnel-credentials
      - configMap:
          defaultMode: 420
          name: cloudflared-config
        name: config
